div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 128px;
}

input {
    width: 128px;
    height: 128px;
}

.subtitle {
    display: block;
    font-size: 64pt;
}