.centerView {
    text-align: center;
    /* border: 3px solid green; */
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

input.addItemLink {
    width: 85%;
    height: 50%;
    padding: 15px 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #A5BDFE;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

input.row {
    width: 99%;
    padding: 8px 15px;
    box-sizing: border-box;
    border: 1px solid #A5BDFE;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

p.addItemLink {
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    font-size: 130%;
    color: #3045AF;
}

p.centerLeft {
    text-align: left;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    font-size: 130%;
    color: #3045AF;
    margin-left: 2%;
}

img.addItemLink {
    width: 128px;
    height: 128px;
    float: left;
}

input.imgAddItemLink {
    width: 128px;
    height: 128px;
    float: left;
}

input.row {
    height: 5%;
}

table.item-view, tr.item-view {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th.item-view {
    border: 1px solid #A5BDFE;
    font-family: 'Viga', sans-serif;
    color: #3045AF;
    padding: 10px;
    font-size: 130%;
}

td.item-view
{
    border: 1px solid #A5BDFE;
    color: royalblue;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

tr.item-view
{
    border: 1px solid #A5BDFE;
    color: royalblue;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

button.addItemLink {
    width: 93%;
}

img.saveIcon {
    width: 70px;
    height: 70px;
    margin-left: 93%;
    margin-top: 0%;
    position: fixed;
}

.container {
    display: flex;
    justify-content: center;
}

.itemTitle {
    text-align: center;
    font-size: 250%;
    font-family: 'Paytone One', sans-serif;
    color: #3045AF;
}

.itemSubtitle {
    text-align: center;
    font-weight: bold;
    font-family: 'Viga', sans-serif;
    font-size: 130%;
    color: #3045AF;
    margin: 30px;
}