div.list-view {
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

input.list-view {
    height: 15px;
    width: 60%;
}

button.list-view {
    width: 10%;
}

table.list-view, tr.list-view {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th.list-view, td.list-view {
    border: 1px solid black;
}

th.action {
    width: 15%;
}

img.addIcon {
    width: 70px;
    height: 70px;
    margin-left: 93%;
    margin-top: 0%;
    position: fixed;
}
