.main {
    text-align: center;
}

.storeTitle {
    text-align: center;
    font-size: 250%;
    font-family: 'Paytone One', sans-serif;
    color: #3045AF;
}

.storeSubtitle {
    font-size: 120%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: royalblue;
    margin-bottom: 30px;
}

#itemEntryContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}

.itemEntry {
    margin: 30px;
    text-align: center;
}

.buyItemButton {
    margin-left: 10px;
    background-color: #4878FB;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "UD Digi Kyokasho NK-R";
    font-size: 90%;
    margin-top: 5px;
}

.buyItemButton:hover {
    cursor: pointer;
    background-color: #82A1F7;
}

.shopImg {
    width: 160px;
    height: 160px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.itemName {
    text-align: center;
    font-size: 130%;
    font-family: 'Paytone One', sans-serif;
    color: #3045AF;
}

.itemPrice {
    font-family: 'Viga', sans-serif;
    font-size: 100%;
    color:dodgerblue;
}
