h1 {
    text-align: center;
}

table, td, th {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td, th {
    min-width: 200px;
    text-align: center;
}

.actions button {
    margin-left: auto;
    margin-right: auto;
    background-color: #4878FB;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-family: "UD Digi Kyokasho NK-R";
    font-size: 100%;
}

.actions button:hover {
    cursor: pointer;
    background-color: #D2DEFE;
}

.actions select {
    margin-left: 10px;
    padding: 16px 32px;
    border-radius: 4px;
    font-family: "UD Digi Kyokasho NK-R";
    font-size: 100%;
    background-color: #9CAAEC;
    color: white;
    border: 1px solid #7989D5; 
}

.actions select:hover {
    cursor: pointer; 
}

.petImg {
    width: 300px;
    height: 300px;
}

#petName {
    display: block;
    font-family: 'Paytone One', sans-serif;
    color: #1E48C8;
    font-size: 200%;
    text-align: center;
}

.showGold {
    display: block;
    font-size: 20pt;
    text-align: left;
}

.showPetContainer {
    margin-top: 40px;
    text-align: center;
}

.showPet {
    display: inline-block;
}

.petModel {
    float: left;
}

#statusBlock {
    text-align: left;
    float: left;
    width: 300px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid dodgerblue;
    border-radius: 15px;
}

#statusBlock .careStatusName {
    float: left;
    font-family: 'Viga', sans-serif;
    color: #1E48C8;
    font-size: 120%;
    width: 80%
}

#statusBlock .careStatusValue {
    float: right;
    font-family: 'Viga', sans-serif;
    color: dodgerblue;
    font-size: 120%;
}

.careTitle {
    display: block;
    text-align: center;
    font-size: 250%;
    font-family: 'Paytone One', sans-serif;
    color: #3045AF;
}
